.workout-log {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-between;
}
.workout-item-container {
  display: flex;
  width: 30vw;
  margin: 10px 0 10px 0;
}
.workout-item-container:hover {
  transform: scale(1.01) rotate(-0.2deg);
}

.exercise-item {
  display: flex;
}
